* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation*/

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.8);
    height: 44px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    max-width: 1346px;
    margin: 0 auto;
}
 
.buscador {
    align-items: centre;
    margin-top: 0px;
}

.barra1 {

    opacity: .8;
    color: #f5f5f7;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
}

.barra1:hover{
    opacity: 1 3s;
}

@media (max-width: 550px) {
    .barra1 {
        font-size: 8px;
        padding: 5px;
    }
}

/*shop*/

.shop {
   text-align: center;
   background-color: #efeff0;
   padding: 45px;
   align-items:flex-end;
}

.shop1 {
    text-decoration: none;
    color: #06c;
}

@media (max-width: 550px) {
    .shop { 
    font-size: 10px;}
}

/*Titulo principal*/

.title-principal {
    height: 580px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_medium.jpg);
    background-size: cover;
    background-position: center ;
    margin-bottom: 15px;
}

.learn {
    text-decoration: none;
    color: #06c;
    margin: 0px 20px;
}

.links {
    padding: 20px;
}

h1 {
    font-size: 54px;
}

.title-principal .p {
    font-size: 30px;
}

@media (max-width: 550px) {
    .h1 {
        font-size: 30px;
    }
}

/*iphone13*/

.iphone13 h2 {
    font-size: 54px;
    color: white;
}

.iphone13 p {
    font-size: 28px;
    color: #fec2eb;
}

.iphone13{
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_medium.jpg);
    background-size: cover;
    background-position: center ;
    margin-bottom: 15px;
}

.buy {
    text-decoration: none;
    color: #06c;
    margin: 0px 20px;
}

.links1 {
    padding: 20px;
}

/*Valentines-day*/

.valentines-day h2 {
    font-size: 28px;
    color: #602d62;
}

.valentines-day h3 {
    font-size: 56px;
    color: #602d62;
}

.valentines-day{
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_medium.jpg);
    background-size: cover;
    background-position: center ;
}

.shopping {
    text-decoration: none;
    color: #06c;
    margin: 0px 20px;
}

.links2 {
    padding: 20px;
}


/*Watch*/

.watch p {
    font-size: 17px;
    color: #bf4800;
}

.iw {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.watch .p {
    font-size: 21px;
}

.watlearn {
    font-size: 17px;
}

.watch {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_medium.jpg);
    background-size: cover;
    background-position: center ;
}

.watlearn {
    text-decoration: none;
    color: #06c;
    margin: 0px 20px;
}

.links3 {
    padding: 20px;
}

@media (max-width: 550px) {
    .iw {
      margin-left: 50px;
      margin-right: 50px;
    }
}
    
/*Shot*/

.shot h4 {
    font-size: 40px;
}

.shot h5 {
    font-size: 21px;
}

.shot {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_medium.jpg);
    background-size: cover;
    background-position: center ;
}

.shot2 {
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

.links4 {
    padding: 20px;
}

/*offer*/

.offer p{
    font-size: 12px;
    color: #bf4800;
}

.offer h4 {
    font-size: 40px;
}

.offer h5 {
    font-size: 21px;
}

.offer {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_medium.jpg);
    background-size: cover;
    background-position: center ;
}

.offer2 {
    text-decoration: none;
    color:#06c;
    margin: 0px 20px;
}

.links5 {
    padding: 20px;
}   

/*future*/

.future h4 {
    font-size: 40px;
    color: white;  
}

.future h5 {
    font-size: 21px;
    color: white;   
}

.future {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_medium.jpg);    
    background-size: cover;
    background-position: center ;
}

.future2 {
    text-decoration: none;
    color:#06c;
    margin: 0px 20px;
}

.links6 {
    padding: 20px;
}   

/*power*/

.power h4 {
    font-size: 40px;
    color: #f5f5f7;
    margin-top: 240px;
}

.power h5 {
    font-size: 21px ;
    color: #fec2eb ;
}

.power {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/iphone-13/tile_iphone_13__d9w82q7fwceq_medium.jpg);    
    background-size: cover;
    background-position: center;
    align-items: center;
}

.power2 {
    text-decoration: none;
    color:#06c;
    margin: 0px 20px;
}

.links7 {
    padding: 20px;
}   

/*now*/

.in{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.now h5 {
    font-size: 21px ;
}

.now {
    height: 624px;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_medium.jpg);    
    background-size: cover;
    background-position: center ;
}

.now2 {
    text-decoration: none;
    color:#06c;
    margin: 0px 20px;
}

.links8 {
    padding: 20px;
}  

@media (max-width: 550px) {
    .in {
      margin-left: 50px;
      margin-right: 50px;
    }
}

/*Caja*/

.contenedor, .contenedor1, .contenedor2 {
    display: flex;
    flex-wrap: wrap;
}

.mini {
    height: 624px;
    flex-grow: 1;
    margin: 15px 15px 15px 15px;
    min-width: 350px;
    flex-basis: 0;
}

@media(max-width:550px) {
    .mini {
        width: 300px;
    }
}

/*articulo*/

.piedepag {
    display: block;
    background-color: lightgrey;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
}

@media (max-width: 550px) {
    .piedepag {
    font-size: 10px;
    }
}